@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html{
    background-image: url("imagens/index.jpeg");
    size: auto;
}
body{
    overflow-x: hidden;
    font-family: "DejaVu Sans Mono";
    color: #505962;
}
.navbar{
    text-transform: capitalize;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba( 0 , 0 , 0 , .6)!important;
}

.navbar-nav li{
    padding-right: .7rem;

}
.navbar-dark .navbar-nav .navbar-link{
    color: white;
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .navbar-link.active,.navbar-dark .navbar-nav .navbar-link:hover{
    color: black;
}

.carousel-item {
    height: 100vh;
    max-width: 100rem;
}

#Sobre{
    padding-top: 5rem;
}

.jumbotron{
    border-radius: 0;
    padding-top: 3rem;

}
.jumbotron img{
    max-width: 100%;
    transition: transform .5s ease;


}
.jumbotron img:hover{
    transform: scale(1.1);
    cursor: zoom-in;
}

.row.no-padding [class*=col-]{
    padding: 0;
}

#Sobre2{
padding-bottom: 5rem;
}

#Proraming\ languages{

   margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    position: center;
    padding-top: 4rem;
}

footer{
    background-color: #40474e;
    color: white;
    padding: 2rem  0 3rem;
    margin-top: 1rem;
}


@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}


/*---Firefox Bug Fix --*/

/*--- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}
.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

